<h2>Show page</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @page.title %>
  </li>

  <li>
    <strong>Subtitle:</strong>
    <%= @page.subtitle %>
  </li>

</ul>

<%= link "Edit", to: page_path(@conn, :edit, @page) %>
<%= link "Back", to: page_path(@conn, :index) %>
